.CheckBox{
    width: 22px;
    height: 22px;
    border: 2px solid #4ea8de;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    .checked-icon{
        display: none;
        position: absolute;
        width: 15px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &-checked{
        background-color: #5e60ce;
        border: 2px solid #5e60ce;
        .checked-icon{
            display: block;
        }
    }
}

