.TodoListTitle{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 24px;
    .total-todo{
        display: flex;
        gap: 10px;
    }
    .completed-todo{
        display: flex;
        gap: 10px;
    }
    .count{
        background-color: #333333;
        height: 19px;
        padding: 0 10px;
        border-radius: 50%;
    }
    .text{
        color: #4ea8de;
        font-weight: bold;
    }
}