.Todo{
    display: flex;
    padding: 16px 0px;
    background: #262626;
    border: 1px solid #333333;
    border-radius: 8px;

    .content{
        flex-grow: 1;
        &-checked{
            text-decoration-line: line-through;
            color: #808080;
        }
    }
    .checkbox-div, .trash-div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 60px;
    }
    .trash-div img{
        width: 30px;
        cursor: pointer;
    }
}