.add-todo-input{
    background-color: #262626;
    color: #808080;
    padding: 16px;
    border: 1px solid #0d0d0d;
    border-radius: 8px;
}

.add-todo-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 16px;
    background: #1e6f9f;
    border-radius: 8px;
}